
<div class="row">
  <div class="col-md-12">
    <table class="table table-borderless table-sortable">
      <thead>
      <tr>
        <th data-sort="string">姓名</th>
        <th data-sort="string">发起项目</th>
        <th data-sort="string">参与项目</th>
        <th data-sort="string">完成项目</th>
        <th data-sort="string">邀请我参与项目</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% users.forEach(function (user){ %>
      <tr>
        <td>
          <%= user.realName %>
        </td>
        <td><%= user.ccnt %></td>
        <td><%= user.gcnt %></td>
        <td><%= user.pcnt %></td>
        <td><%= user.mcnt %></td>
        <td><a href="/contact/profile/<%= user.id %>" class="btn btn-primary btn-xs">个人主页</a></td>
      </tr>
      <% }); %>
      </tbody>
    </table>
  </div>
</div>
