
<script type="text/javascript">
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }

    $('#projectForm').submit(function (event) {
      var name = $('#inputName').val();
      if (empty(name)) {
		swal("填写提示", "项目名称不能为空!", "warning");
		$('#inputName').focus();
        return false;
      }
      var introdution = $('#inputIntrodution').val();
      if (empty(introdution)) {
		swal("填写提示", "项目描述不能为空!", "warning");
		$('#inputIntrodution').focus();
        return false;
      }
      return true;
    });


    $('#inputIntrodution').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#projectForm").submit();
      }
    });


  });
</script>

<div class="callout callout-info callout-has-icon" role="alert">
  <i class="avc-icon avc-info"></i>
  <h4>小贴士</h4>
  <ul>
    <li>上传附件仅支持<span class="alert-warning">Word, Pdf, Power Point</span>格式的文件</li>
  </ul>
</div>

<form id="projectForm" enctype="multipart/form-data" action="/projects/<%= project.id %>/?token=<%=token%>" method="post">
  <div class="form-group">
    <label class="control-label" for="inputName">
      项目名称
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <input type="text" name="name" id="inputName" value="<%= project.name %>" class="form-control" placeholder="项目名称" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputType">
      行业
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
	  <option value="EBUSINESS" <% if(project.rawType=='EBUSINESS'){ %>selected="selected"<% } %>>电商</option>
      <option value="SERVICE" <% if(project.rawType=='SERVICE'){ %>selected="selected"<% } %>>企业服务</option>
      <option value="ENTERTAINMENT" <% if(project.rawType=='ENTERTAINMENT'){ %>selected="selected"<% } %>>文化体育娱乐</option>
      <option value="O2O" <% if(project.rawType=='O2O'){ %>selected="selected"<% } %>>O2O</option>
      <option value="FINANCIAL" <% if(project.rawType=='FINANCIAL'){ %>selected="selected"<% } %>>金融</option>
      <option value="SOCIAL" <% if(project.rawType=='SOCIAL'){ %>selected="selected"<% } %>>社交网络</option>
      <option value="GAME" <% if(project.rawType=='GAME'){ %>selected="selected"<% } %>>游戏</option>
      <option value="EDUCATION" <% if(project.rawType=='EDUCATION'){ %>selected="selected"<% } %>>教育</option>
      <option value="TOOL" <% if(project.rawType=='TOOL'){ %>selected="selected"<% } %>>工具软件</option>
      <option value="HARDWARE" <% if(project.rawType=='HARDWARE'){ %>selected="selected"<% } %>>智能硬件</option>
      <option value="TRAVEL" <% if(project.rawType=='TRAVEL'){ %>selected="selected"<% } %>>旅游</option>
      <option value="CAR" <% if(project.rawType=='CAR'){ %>selected="selected"<% } %>>汽车&交通</option>
      <option value="HEALTH" <% if(project.rawType=='HEALTH'){ %>selected="selected"<% } %>>医疗健康</option>
      <option value="MEDIA" <% if(project.rawType=='MEDIA'){ %>selected="selected"<% } %>>媒体</option>
      <option value="ESTATE" <% if(project.rawType=='ESTATE'){ %>selected="selected"<% } %>>房产服务</option>
      <option value="FOOD" <% if(project.rawType=='FOOD'){ %>selected="selected"<% } %>>餐饮</option>
      <option value="BIGDATA" <% if(project.rawType=='BIGDATA'){ %>selected="selected"<% } %>>大数据</option>
      <option value="EXTRA" <% if(project.rawType=='EXTRA'){ %>selected="selected"<% } %>>其他</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputStatus">
      状态
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
    <select id="inputStatus" class="form-control" name="status" required>
      <option value="FINANCING" <% if(project.rawStatus=='FINANCING'){ %>selected="selected"<% } %>>融资开放</option>
      <option value="COMPLETE" <% if(project.rawStatus=='COMPLETE'){ %>selected="selected"<% } %>>融资完成</option>
      <option value="FOLLOWING" <% if(project.rawStatus=='FOLLOWING'){ %>selected="selected"<% } %>>后续跟踪</option>
      <option value="DISCARD" <% if(project.rawStatus=='DISCARD'){ %>selected="selected"<% } %>>放弃中止</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputRating">
	  评分
    </label>
    <div class="controls">
      <input class="rating" name="rating" id="inputRating" data-max="5" data-min="0" data-step="1"
		data-show-clear="true" data-show-caption="false" data-size="xs" value="<%= project.rating %>">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputInvestMoney">
      融资额
    </label>
    <div class="controls">
      <input type="number" name="invest_money" id="inputInvestMoney" value="<%= project.invest_money %>" class="form-control" placeholder="融资额" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputContact">
      联系方式
    </label>
    <div class="controls">
      <input type="text" name="contact_way" id="inputContact" value="<%= project.contact_way %>" class="form-control" placeholder="联系方式" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputContact">
      项目精调
    </label>
    <div class="controls">
      <input type="text" name="jintiao" id="inputJintiao" value="<%= project.jintiao %>" class="form-control" placeholder="项目精调" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputInvest">
      我的投资额
    </label>
    <div class="controls">
      <input type="number" name="invest" id="inputInvest" value="<%= project.invest %>" class="form-control" placeholder="我的投资额" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputInvestEval">
      投资时估值
    </label>
    <div class="controls">
      <input type="number" name="invest_eval" id="inputInvestEval" value="<%= project.invest_eval %>" class="form-control" placeholder="投资时估值" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputFinalEval">
      最终估值
    </label>
    <div class="controls">
      <input type="number" name="final_eval" id="inputFinalEval" value="<%= project.final_eval %>" class="form-control" placeholder="最终估值" >
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputIntrodution">
      项目描述
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>
    <div class="controls">
      <textarea rows="10" cols="20" name="introdution" id="inputIntrodution" class="form-control" placeholder="项目描述" ><%= project.introdution %></textarea>
    </div>
  </div>
	<ul class="list-group">
		<% attachs.forEach (function(attach, index){ %>
		<li class="list-group-item">
			<span>附件<%= index+1 %></span>
			<button class="btn btn-primary btn-xs right" 
			onclick="$.post('/attach/delete', {aid:'<%= attach.id %>', pid:'<%= project.id %>'});">删除</button>
			<span></span>
			<a href="<%= attach.get('file').url() %>" class="btn btn-link btn-xs right"><%= attach.get('name') %></a>
		</li>
		<% }); %>
	</ul>
  <div class="form-group">
    <label class="control-label" for="inputAttachment">上传附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' multiple='true'
	  accept="application/msword,application/pdf,application/vnd.ms-powerpoint"/>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/projects" class="btn btn-default">回到项目列表</a>
  </div>

</form>

