<script type="text/javascript">
  var ctrlx=false;
  var enterKey=13,xKey=88,sKey=83,escKey=27,semiKey=186,wKey=87;
  var esc;
  $(function () {

    function checkContentOk(content) {
      var secret = $("#inputOpen").is(":checked");
      if (secret == false && existsAppIdOrKey(content)) {
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      } else {
        return true;
      }
    }

    $("#threadForm").submit(function (event) {
      var $form = $(this),
        content = $form.find("textarea[id='inputContent']").val();
      if (content == '' && $("#inputClose").val() != '1') {
        alert("回复不能为空");
        return false;
      }
      return checkContentOk(content);
    });

    $("#deleteForm").submit(function (event) {
      return confirm('确认删除吗？');
    });

    function ctrlOrMeta(e){
      return e.ctrlKey || e.metaKey;
    }

    $('#inputContent').keydown(function (e) {
      if (ctrlOrMeta(e) && e.keyCode == enterKey) {
        // Ctrl-Enter pressed
        $("#threadForm").submit();
        return false;
      }else if(ctrlx && ctrlOrMeta(e) && e.keyCode==sKey){
        $("#threadForm").submit();
        return false;
      }else if(ctrlOrMeta(e) && e.keyCode==xKey){
        ctrlx=true;
      }
      /*if(e.keyCode==escKey){
        console.log('esc key');
        esc=true;
      }
      if(esc && e.keyCode==wKey){
        console.log('semi key');
        $("#threadForm").submit();
        return false;
      }*/
    }).keyup(function(e){
      if(e.keyCode!=xKey){
        ctrlx=false;
      }
      /*if(e.keyCode!=escKey){
        esc=false;
      }
      if(e.keyCode==wKey){
        console.log('return false');
        return false;
      }*/
    });

    $("#closeBtn").click(function (event) {

      function close() {
        $("#inputClose").val("1");
        $("#threadForm").submit();
      }

    });

  });
</script>

<div class="row">
  <div class="col-md-12">
	<ul class="list-group">
		<li class="list-group-item">
			<span style="display:inline"><%= project.creator %> 发起的项目</span>
			<span class="bstooltip" title="<%= project.createdAtLong %>">@ <%= project.createdAt %></span>
		</li>
		<li class="list-group-item">
			<h2 style="display: inline"><%= project.name %><br><small><%= project.introdution %></small></h2>
		</li>
		<li class="list-group-item">
			<span>行业</span><span class="right"><%= project.type %></span>
		</li>
		<li class="list-group-item">
			<span>融资额</span><span class="right"><% if (project.invest_money){ %><%= project.invest_money %>元人民币<% } %></span>
		</li>
		<% attachs.forEach (function(attach, index){ %>
		<li class="list-group-item">
			<span>附件<%= index+1 %></span>
			<a href="<%= attach.get('file').url() %>" class="btn btn-primary btn-xs right">删除</a>
			<span></span>
			<a href="<%= attach.get('file').url() %>" class="btn btn-link btn-xs right"><%= attach.get('name') %></a>
		</li>
		<% }); %>
		<li class="list-group-item">
		</li>
		<li class="list-group-item">
			<span>接收日期</span><span class="right"><%= project.createdAtLong %></span>
		</li>
		<li class="list-group-item">
			<span>质量判断</span><span class="right"><%- project.star %></span>
		</li>
		<li class="list-group-item">
			<span>项目阶段</span><span class="right"><%= project.status %></span>
		</li>
		<li class="list-group-item">
			<span>项目来源</span><span class="right"><%= project.creator %></span>
		</li>
		<li class="list-group-item">
			<span>投资回报</span><span class="right"></span>
		</li>
		<li class="list-group-item">
			<span>联系方式</span><span class="right"><%= project.contact_way %></span>
		</li>
	</ul>
  </div>
</div>

<div>
  <div class="clearfix">
    <form id="commentForm" class="comment-form" enctype="multipart/form-data"
          action="/projects/<%= project.id %>/comments" method="post">
      <div class="form-group">
        <input type="hidden" id="inputClose" name="close" value="0"/>
        <label class="control-label" for="inputContent">
          留言
          <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
        </label>
        <textarea rows="5" name="content" id="inputContent" class="form-control" placeholder="留言内容" required></textarea>
      </div>
      <div class="form-group pull-left">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-submit">留言</button>
		  <button onclick="back();" class="btn btn-default btn-back">返回</button>
        </div>
      </div>
    </form>
  </div>
</div>

<hr>

<% comments.forEach (function(comment){ %>
<div class="project-comment-wrap">
  <p class="project-comment-title">
    <span class="project-user"><b><%= comment.fromuser %></b></span>
    <span class="project-date bstooltip" title="<%= comment.createdAtLong %>">@ <%= comment.createdAt %></span>
  </p>

  <div class="ticket-thread-content">
    <pre><%= comment.content %></pre>
  </div>
</div>
<% }); %>

