<script type="text/javascript">
  var ctrlx=false;
  var enterKey=13,xKey=88,sKey=83,escKey=27,semiKey=186,wKey=87;
  var esc;
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }

    $('#commentForm').submit(function (event) {
      var content = $('#inputContent').val();
      if (empty(content)) {
		swal("填写提示", "留言不能为空!", "warning");
		$('#inputContent').focus();
        return false;
      }
      return true;
    });
  });
</script>

<div class="row">
  <div class="col-md-12">
	<ul class="list-group">
		<li class="list-group-item">
			<span style="display:inline"><%= project.creator %> 发起的项目</span>
			<span class="bstooltip" title="<%= project.createdAtLong %>">@ <%= project.createdAtLong %></span>
		</li>
		<li class="list-group-item">
			<h2 style="display: inline"><%= project.name %><br><small><%= project.introdution %></small></h2>
		</li>
		<li class="list-group-item">
			<span>行业</span><span class="right"><%= project.type %></span>
		</li>
		<li class="list-group-item">
			<span>融资额</span><span class="right"><% if (project.invest_money){ %><%= project.invest_money %>元人民币<% } %></span>
		</li>
		<% attachs.forEach (function(attach, index){ %>
		<li class="list-group-item">
			<span>附件<%= index+1 %></span>
			<a href="<%= attach.get('file').url() %>" class="btn btn-link btn-xs right"><%= attach.get('name') %></a>
		</li>
		<% }); %>
		<li class="list-group-item">
		</li>
		<li class="list-group-item">
			<span>接收日期</span><span class="right"><%= project.createdAtLong %></span>
		</li>
		<li class="list-group-item">
			<span>质量判断</span><span class="right"><%- project.star %></span>
		</li>
		<li class="list-group-item">
			<span>项目阶段</span><span class="right"><%= project.status %></span>
		</li>
		<li class="list-group-item">
			<span>项目成员</span>
			<span class="right">
				<% groups.forEach (function(group, index){ %>
					<a href="/contact/profile/<%= group.id %>" class="btn btn-default btn-xs right"><%= group.get('realName') %></a>
				<% }); %>
			</span>
		</li>
		<li class="list-group-item">
			<span>联系方式</span><span class="right"><%= project.contact_way %></span>
		</li>
		<li class="list-group-item">
			<span>项目精调</span><span class="right"><%= project.jintiao %></span>
		</li>
	</ul>
	<p>项目投资回报</p>
	<ul class="list-group">
		<li class="list-group-item">
			<span>我的投资额</span><span class="right"><%= project.invest%></span>
		</li>
		<li class="list-group-item">
			<span>投资回报额</span><span class="right"><%= project.return_val%></span>
		</li>
		<li class="list-group-item">
			<span>投资回报率</span><span class="right"><%= project.return_rate%></span>
		</li>
		<li class="list-group-item">
			<span>投资时估值</span><span class="right"><%= project.invest_eval%></span>
		</li>
		<li class="list-group-item">
			<span>最终估值</span><span class="right"><%= project.final_eval%></span>
		</li>
		<li class="list-group-item">
			<span>合投人</span><span class="right"><%= project.parterner%></span>
		</li>
	</ul>
	<% if(cid==project.creatorId){ %>
	<a href="/projects/edit/<%= project.id %>" class="btn btn-primary">编辑项目</a>
	<button class="btn btn-danger" onclick="deleteProject('<%= project.id %>', '<%= project.name %>')">删除项目</button>
	<% } %>
	<hr>
  </div>
</div>

<div>
  <div class="clearfix">
    <form id="commentForm" class="comment-form" enctype="multipart/form-data"
          action="/projects/<%= project.id %>/comments" method="post">
      <div class="form-group">
        <label class="control-label" for="inputContent">
          留言
          <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
        </label>
        <textarea rows="5" name="content" id="inputContent" class="form-control" placeholder="留言内容" ></textarea>
      </div>
      <div class="form-group pull-left">
        <div class="controls">
          <button type="submit" class="btn btn-primary btn-submit">留言</button>
        </div>
      </div>
    </form>
	<button onclick="back();" class="btn btn-default btn-back">返回</button>
  </div>
</div>

<hr>

<% comments.forEach (function(comment){ %>
<div class="project-comment-wrap">
  <p class="project-comment-title">
    <span class="project-user"><b><%= comment.fromuser %></b></span>
    <span class="project-date bstooltip" title="<%= comment.createdAtLong %>">@ <%= comment.createdAtLong %></span>
  </p>

  <div class="ticket-thread-content">
    <pre><%= comment.content %></pre>
  </div>
</div>
<% }); %>

<script>
function deleteProject(projectId, projectName) {
	swal({
		title: "确定删除？",
		text: "项目(" + projectName + ")删除后不能恢复，确定要删除？",
		type: "warning",
		showCancelButton: true,
		cancelButtonText: "取消",
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "删除",
		closeOnConfirm: false
	}, function() {
		$.post("/projects/delete/"+projectId, function(data) {
			//swal("已删除!", "项目(" + projectName + ")已删除.", "success"); 
			location.href="/projects";
		});
	});

}
</script>
