<div class="clearfix">
  <div class="btn-group pull-left">
    <a href="/projects" class="btn btn-default active">我的项目</a>
    <a href="/projects/follow" class="btn btn-default">参与项目</a>
  </div>
  <a class="btn btn-primary" href="/projects/new" style="margin-left: 10px;">发起新项目</a>
</div>

<hr>

<div>
	<form class="form-inline" role="form" style="float: right;">
		<div class="form-group">
			<select id="inputType" class="form-control" name="type" required>
				<option value="" selected="selected">行业</option>
				<option value="EBUSINESS" selected="selected">电商</option>
				<option value="SERVICE">企业服务</option>
				<option value="ENTERTAINMENT">文化体育娱乐</option>
				<option value="O2O">O2O</option>
				<option value="FINANCIAL">金融</option>
				<option value="SOCIAL">社交网络</option>
				<option value="GAME">游戏</option>
				<option value="EDUCATION">教育</option>
				<option value="TOOL">工具软件</option>
				<option value="HARDWARE">智能硬件</option>
				<option value="TRAVEL">旅游</option>
				<option value="CAR">汽车&交通</option>
				<option value="HEALTH">医疗健康</option>
				<option value="MEDIA">媒体</option>
				<option value="ESTATE">房产服务</option>
				<option value="FOOD">餐饮</option>
				<option value="BIGDATA">大数据</option>
				<option value="EXTRA">其他</option>
			</select>
		</div>
		<div class="form-group">
			<select id="inputStatus" class="form-control" name="status" required>
				<option value="" selected="selected">项目状态</option>
				<option value="FINANCING">融资中</option>
				<option value="COMPLETE">融资完成</option>
				<option value="FOLLOWING">跟踪</option>
				<option value="ABUNDANT">终止</option>
			</select>
		</div>
		<div class="form-group">
			<select id="inputRating" class="form-control" name="rating" required>
				<option value="" selected="selected">项目质量</option>
				<option value="1">1星</option>
				<option value="2">2星</option>
				<option value="3">3星</option>
				<option value="4">4星</option>
				<option value="5">5星</option>
				<option value="0">判断保留</option>
			</select>
		</div>
	</form>
  <table class="table table-bordered table-sortable">
    <thead>
    <tr>
      <th data-sort="string">行业</th>
      <th data-sort="string">项目名称</th>
      <th data-sort="int">评分</th>
      <th data-sort="string">项目介绍</th>
      <th data-sort="string">项目状态</th>
      <th data-sort="int" data-sort-default="desc" data-sort-onload>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <% projects.forEach (function (project){ %>
    <tr>
      <td class="table-type"><%= project.type %></td>
      <td class="table-name"><a href="/projects/<%= project.id %>/comments" title="#<%= project.name%>"><%=project.name %></a></td>
      <td class="table-rating"><%- project.star %></td>
      <td class="table-intro"><%= project.introdution %></td>
      <td class="table-status"><%= project.status %></td>
      <td class="table-date" data-sort-value="<%= project.createdAtUnix %>"><span class="bstooltip" title="<%= project.createdAtLong %>"><%= project.createdAtLong %></span></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
  <form action="/projects" class="form-inline" method="get">
	<div class="form-group" >
		<a href="/projects?page=<%= page-1 %><%if(type){%>&type=<%=type%><%}%><%if(status){%>&status=<%=status%><%}%><%if(rating){%>&rating=<%=rating%><%}%>" class="btn btn-default" <% if(page == 1) {%>disabled<%}%>>上一页</a>
		<span><%= page %>/<%= pageCount%></span>
		<a href="/projects?page=<%= page+1 %><%if(type){%>&type=<%=type%><%}%><%if(status){%>&status=<%=status%><%}%><%if(rating){%>&rating    =<%=rating%><%}%>" class="btn btn-default" <% if(page == pageCount) {%>disabled<%}%>>下一页</a>
	</div>
	<div class="form-group" >
		<input id="inputPage" type="text" class="form-control" name="page" size="3">
	</div>
	<button type="submit" class="btn btn-default">跳转</button>
  </form>

  <script>
  function filter() {
	  var type = $('#inputType').val();
	  var status = $('#inputStatus').val();
	  var rating = $('#inputRating').val();

	  var param = "";
	  if (type) {
		param += "type="+type;
	  }
	  if (status) {
		if (param) {
			param += "&";
		}
		param += "status="+status;
	  }
	  if (rating) {
		if (param) {
			param += "&";
		}
		param += "rating="+rating;
	  }
	  location.href = "/projects?"+param;
  }

  $('#inputType').on('change', function() {
	  filter();
  });

  $('#inputStatus').on('change', function() {
	  filter();
  });

  $('#inputRating').on('change', function() {
	  filter();
  });

  function getUrlParam(name){  
		//构造一个含有目标参数的正则表达式对象  
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");  
		//匹配目标参数  
		var r = window.location.search.substr(1).match(reg);  
		//返回参数值  
		if (r!=null) return unescape(r[2]);  
		return null;  
  } 
  $('#inputType').val(getUrlParam('type'));
  $('#inputStatus').val(getUrlParam('status'));
  $('#inputRating').val(getUrlParam('rating'));
  </script>

</div>
