
<div class="clearfix">

  <form class="form-horizontal search-form-middle" enctype="multipart/form-data"
        charset="utf-8"
        action="/search" method="get" style="display: inline-block">
    <div class="input-group" >
      <input id="inputSearch" type="text" class="form-control" value="<%= content %>" name="content"
             placeholder="搜索">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default" id="openBtn">搜索</button>
        </span>
    </div>
  </form>

  <a type="submit" class="btn btn-default pull-right" href="/google?content=<%= content %>" target="_blank">Google</a>
</div>


<div class="clearfix">
  <div style="width: 80%;float: center">

    <table class="table table-borderless table-sortable" >
      <thead>
      <tr>
        <th data-sort="string">项目</th>
      </tr>
      </thead>
      <tbody>
      <% projects.forEach (function (project){ %>
      <tr>
        <td class="table-title">
		<a href="/projects/<%= project.id %>/comments" title="<%= project.introdution %>"><%= project.name %></a>
        </td>
      </tr>
      <% } ) %>
      </tbody>
    </table>

  </div>
</div>

