
<script>

function deleteUser(userid, realName) {
	swal({
		title: "确定删除用户？",
		text: "用户(" + realName + ")删除后，该用户的项目也将删除，删除后数据不能恢复！",
		type: "warning",
		showCancelButton: true,
		cancelButtonText: "取消",
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "删除",
		closeOnConfirm: false
	}, function() {
		$.post("/users/delete/"+userid, function(data) {
			//swal("已删除!", "用户(" + realName + ")已删除.", "success"); 
			location.reload();
		});
	});
}

</script>

<div class="row">
  <div class="col-md-12">
    <h3>用户列表</h3>
    <table class="table table-borderless table-sortable">
      <thead>
      <tr>
        <th data-sort="string">姓名</th>
        <th data-sort="string" class="text-center">发起项目</th>
        <th data-sort="string" class="text-center">参与项目</th>
        <th data-sort="string" class="text-center">完成项目</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% users.forEach(function (user){ %>
      <tr>
        <td>
          <%= user.realName %>
        </td>
        <td class="text-center text-bold"><%= user.ccnt %></td>
        <td class="text-center text-bold"><%= user.gcnt %></td>
        <td class="text-center text-bold"><%= user.pcnt %></td>
        <td width="200">
		  <a href="/contact/profile/<%= user.id %>" class="btn btn-primary btn-xs">个人主页</a>
		  <a href="/users/edit/<%= user.id %>" class="btn btn-primary btn-xs">编辑</a>
		  <button class="btn btn-danger btn-xs" onclick="deleteUser('<%= user.id %>', '<%= user.realName %>')">删除</button>
		</td>
      </tr>
      <% }); %>
      </tbody>
    </table>
	<form action="/users" class="form-inline" method="get">
		<div class="form-group" >
			<a href="/users?page=<%= page-1 %>" class="btn btn-default" <% if(page == 1) {%>disabled<%}%>>上一页</a>
			<span><%= page %>/<%= pageCount%></span>
			<a href="/users?page=<%= page+1 %>" class="btn btn-default" <% if(page == pageCount) {%>disabled<%}%>>下一页</a>
		</div>
		<div class="form-group" >
			<input id="inputPage" type="text" class="form-control" name="page" size="3">
		</div>
		<button type="submit" class="btn btn-default">跳转</button>
	</form>
  </div>
</div>

